.movie-list{
    width:47.5%;
    height:280px;
    margin-right:5%;
    float:left;
    margin-top:100px;
    box-sizing:border-box;
    background-color:white;
    border:1px solid #ececec;
    box-shadow:#999 0px 5px 15px;
}
.movie-list > a{
    display:block;
    width:100%;
    height:100%;
}
.loader-box{
    width:100%;
    min-height:calc(100vh - 100px);
    display:flex;
    justify-content: center;
    align-items: center;
}
.loader-box span{
    padding:15px 30px;
    border:1px solid #a3b1c7;
}
.movie-list:nth-child(2n){
    margin-right:0;
}
.movie-img{
    width:30%;
    height:100%;
    text-align:center;
    float:left;
}
.movie-img img{
    width:80%;
    height:100%;
    margin-top:-30px;
    box-shadow:#999 0px 10px 27px;
}
.movie-txt{
    width:70%;
    height:100%;
    float:left;
    padding-top: 20px;
    padding-right: 20px;
    box-sizing:border-box;
}
.movie-txt-title{
    width:100%;
    font-size: 1.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.movie-txt-summary{
    width:100%;
    font-size:1.3em;
    opacity: 0.7;
}
.movie-txt-year{
    opacity: 0.5;
    font-size:1em;
    margin:5px 0;
}
.movie-genres{
    width:100%;
    opacity: 0.5;
    margin-bottom:5px;
}
.movie-genres-genre{
    display:inline-block;
    margin-right:8px;
}