.section.movie{
    width:70%;
    height:80%;
    margin:0 auto;
    padding-left:80px;
    padding-top:80px;
}
.movie-list-box{
    width:100%;
    height:100%;
    overflow-y:auto;
    border: 1px solid #ececec;
    border-radius: 15px 10px 10px 15px;
    box-sizing:border-box;
    padding-left:40px;
    padding-right:40px;
    background-color:#eaeef4;
}
.movie-list-box::-webkit-scrollbar {
    background: #e9e9e9 !important;
    border-radius: 20px !important;
    width:9px !important;
}
.movie-list-box::-webkit-scrollbar-thumb {
    background: #a2a2a2 !important;
    border-radius: 20px !important;
}

.movie-list-box .movie-list{
    width:47.5%;
    height:250px;
    margin-right:5%;
    float:left;
    margin-top:60px;
    box-sizing:border-box;
    background-color:white;
    border:1px solid #ececec;
    box-shadow:#999 0px 5px 15px;
}
.loader-box{
    /* width:100%;
    height:100%;
    position: relative; */
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.loader-box span{
    /* display:block;
    width:100px;
    height:50px;
    text-align:center;
    line-height:50px;
    border:1px solid #ccc;
    left:calc( 50% - (100px / 2));
    top:calc( 50% - (50px / 2));
    position:absolute; */
    padding:15px 30px;
    border:1px solid #ccc;
}
.movie-list-box .movie-list:nth-child(2n){
    margin-right:0;
}
.movie-img{
    width:30%;
    height:100%;
    text-align:center;
    float:left;
}
.movie-img img{
    width:80%;
    height:80%;
    margin-top:-10px;
    box-shadow:#999 0px 10px 27px;
}
.movie-txt{
    width:70%;
    height:100%;
    float:left;
    padding-top: 20px;
    padding-right: 20px;
    box-sizing:border-box;
}
.movie-txt-title{
    width:100%;
    height: 15%;
    font-size: 1.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.movie-txt-summary{
    width:100%;
    height:70%;
    overflow: hidden;
    font-size:1.2em;
    font-size:1.4em;
}
.movie-txt-year{
    height:15%;
    color:#999999;
    font-size:1.5em;
}